---
// import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
// import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, 欢迎来到这个基于Astro构建的个人博客实例站点！在这里，你可以看到通过Astro构建的博客网站内容模块，涵盖了文章列表、标签分类、评论等丰富的功能。如果你想深入了解这些功能是如何实现的，可以点击进入相关页面查看详细的代码实现和技术细节。同时，我们也欢迎你分享自己的想法和反馈，让我们共同创造更好的博客体验！
		</p>
		<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div> -->
		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
