---
// import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
// import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="mb-4">
			Hi, 欢迎来到这个基于Astro构建的个人博客实例站点！
		</p>
		<p class="mb-4">在这里，你可以看到通过Astro构建的博客网站内容模块，涵盖了文章列表、标签分类等丰富的功能。</p>
		<p class="mb-4">如果你想深入了解这些功能是如何实现的，可以点击下面文章查看详细的代码实现和技术细节以及自动化部署的过程。</p>
		<p class="mb-4">同时，我们也欢迎你分享自己的想法和反馈，更多博客内容请访问我的
			<a href='https://liuziting.netlify.com/'
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block">个人博客站点！</a>
						</p>
						
		<p>
			一个写代码的手艺人！
		</p>
	</div>
</PageLayout>
